<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SF-06-2018-OWP2019</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servleti.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistracijaServlet</display-name>
    <servlet-name>RegistracijaServlet</servlet-name>
    <servlet-class>servleti.RegistracijaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistracijaServlet</servlet-name>
    <url-pattern>/RegistracijaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodajFilmServlet</display-name>
    <servlet-name>DodajFilmServlet</servlet-name>
    <servlet-class>servleti.DodajFilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajFilmServlet</servlet-name>
    <url-pattern>/DodajFilmServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>servleti.InitListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>DodajProjekcijuServlet</display-name>
    <servlet-name>DodajProjekcijuServlet</servlet-name>
    <servlet-class>servleti.DodajProjekcijuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajProjekcijuServlet</servlet-name>
    <url-pattern>/DodajProjekcijuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SviFilmoviServlet</display-name>
    <servlet-name>SviFilmoviServlet</servlet-name>
    <servlet-class>servleti.SviFilmoviServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SviFilmoviServlet</servlet-name>
    <url-pattern>/SviFilmoviServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuccessServlet</display-name>
    <servlet-name>SuccessServlet</servlet-name>
    <servlet-class>status.SuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuccessServlet</servlet-name>
    <url-pattern>/SuccessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FailureServlet</display-name>
    <servlet-name>FailureServlet</servlet-name>
    <servlet-class>status.FailureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FailureServlet</servlet-name>
    <url-pattern>/FailureServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>status.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnauthorizedServlet</display-name>
    <servlet-name>UnauthorizedServlet</servlet-name>
    <servlet-class>status.UnauthorizedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnauthorizedServlet</servlet-name>
    <url-pattern>/UnauthorizedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SviKorisniciServlet</display-name>
    <servlet-name>SviKorisniciServlet</servlet-name>
    <servlet-class>servleti.SviKorisniciServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SviKorisniciServlet</servlet-name>
    <url-pattern>/SviKorisniciServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrikaziFilmServlet</display-name>
    <servlet-name>PrikaziFilmServlet</servlet-name>
    <servlet-class>servleti.PrikaziFilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrikaziFilmServlet</servlet-name>
    <url-pattern>/PrikaziFilmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrikaziKorisnikaServlet</display-name>
    <servlet-name>PrikaziKorisnikaServlet</servlet-name>
    <servlet-class>servleti.PrikaziKorisnikaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrikaziKorisnikaServlet</servlet-name>
    <url-pattern>/PrikaziKorisnikaServlet</url-pattern>
  </servlet-mapping>
</web-app>